<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>Logistique</h3>
          </div>
          <h4>Objectifs de la formation</h4>
          <p>D’une façon générale, la formation en logistique et transport a pour objectif de répondre aux besoins des entreprises en ressources qualifiées en logistique. Elle vise à développer des compétences en matière de conception, de gestion des flux physiques, d’information, d’encadrement et d’exécution des opérations.</p>
          <h4>Débouchés</h4>
          <p>Le diplôme ouvre des perspectives du premier marché de l’emploi au Maroc. Les diplômés ont vocation à manager des projets dans le cadre d’un département dédié à la logistique. Ils doivent par la suite évoluer vers des postes à responsabilité et d’encadrement d’équipe (supply chain manager ou responsable logistique, par exemple)</p>
          <h4>Public Concerné</h4>
          <p>Le diplôme est ouvert aux étudiants et cadres avec un des diplômes suivants :<br>

            Tout diplôme de niveau bac+2 délivré par les établissements publics relevant de la formation professionnelle (ISTA).<br>
            Titulaires d’un DEUG, DEUST ou DEUP.<br>
            Tout diplôme de niveau bac+2 délivré par les établissements privés relevant de l’enseignement supérieur.<br>
            Tout diplôme de niveau bac+2 délivré par les établissements privés accrédités par la formation professionnelle (accréditation exigée)<br>
            Tout diplôme étranger reconnu équivalent.</p><br>
          <h4>Programme de la formation</h4><br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 1 : Management de la chaîne logistique globale</p>
            <div class="vlt-pullquote__meta">
              <h5>Achat et approvisionnement</h5>
              <h5>Gestion des stocks. Distribution</h5>
              <h5>Pilotage de la chaîne logistique</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 2 : Logistique interne</p>
            <div class="vlt-pullquote__meta">
              <h5>Gestion de la production</h5>
              <h5>Systèmes de qualité</h5>
              <h5>Gestion Budgétaire</h5>
              <h5>Gestion des Ressources Humaines</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 3 : Transport et plateformes logistiques</p>
            <div class="vlt-pullquote__meta">
              <h5>Transport terrestre. Réglementation du transport</h5>
              <h5>Transport maritime et aérien</h5>
              <h5>Règles douanières</h5>
              <h5>Plateformes logistiques.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 4 : Ingénierie de la chaîne logistique</p>
            <div class="vlt-pullquote__meta">
              <h5>Modélisation simulation et optimisation des flux</h5>
              <h5>Zécurité et gestion des risques</h5>
              <h5>Transport et stockage des produits dangereux</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 5 : Systèmes d’information en logistique</p>
            <div class="vlt-pullquote__meta">
              <h5>NTIC et chaîne logistique</h5>
              <h5>Gestion intégrée de la chaîne logistique (ERP)</h5>
              <h5>Gestion intégrée de la chaîne logistique (DRP, MRP,..)</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 6 : Techniques d‘expression et de communication</p>
            <div class="vlt-pullquote__meta">
              <h5>Techniques de communication</h5>
              <h5>Management & gestion de projets</h5>
              <h5>Anglais des affaires</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 7 : Séminaires</p>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Modalités d’inscription</h4>
          <p>Les dates à retenir sont définies comme suit :<br>
            Dépôt des dossiers de candidature : à partir du Septembre 2020.<br>
            Date limite de dépôt des dossiers de candidature : Mi-Octobre 2020<br>
            Début des cours : début novembre 2020</p>
        
          <h4>Frais d’inscription</h4>
          <p>Les frais de scolarité sont de 20.000 Dhs. (En deux ou plusieurs tranches avec facilité de paiement).</p><br>
          <h4>Responsable Pédagogique</h4>
          <p>Professeur El mourabit Aimad<br>
            Tél : 0670616972<br>
            Site Web: http://www.ensat.ac.ma/dca<br>
            Email:  elmourabit_aimad@yahoo.fr / elmourabit@ensat.ac.ma</p>
        </div>
      </div>
    </div>
  </div>
</section>
