<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>Management de la Qualité, Hygiène, Sécurité & Environnement</h3>
          </div>
          <h4>Objectifs de la formation</h4>
          <p>Le diplôme DCA en Management de la Qualité, Hygiène, Sécurité & Environnement est fondamental à tous intervenant dans le domaine industriel. Cette formation lui permettra de gérer, de concevoir, d’organiser, d’implanter ou de piloter des projets dans le domaine industriel avec le respect total des normes en vigueur. Il met ces connaissances au service de la performance, de la sécurité, la qualité, la gestion des systèmes industriels. Sa compétence s’étend des achats jusqu’aux chaines de production, en passant par la gestion des équipes, gestion des risques, gestion de projets et l’implantation des règles Hygiène, Qualité et Sécurité. </p>
          <h4>Débouchés</h4>
          <p>    Responsable Qualité<br>
            Responsable sécurité industrielle<br>
            Responsable sécurité en entreprise<br>
            Responsable hygiène sécurité industrielle<br>
            Responsable environnement industriel<br>
            Responsable environnement et risque</p>
          <h4>Public Concerné</h4>
          <p>Le DCA «Management de la Qualité, Hygiène, Sécurité & Environnement» est ouvert  aux étudiants et cadres d’entreprises ayant l’un des diplômes  suivants :<br>

            DEUG, DEUST, BTS, DUT, DTS, STA (Bac+2 )<br>
            (Bac+2, Scientifiques et Littéraires)<br>
            Licences et Licences Professionnelles<br>
            Diplômes équivalents des Ecoles Privées</p><br>
          <h4>Programme de la formation</h4><br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Introduction à l'HSE</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Santé et Hygiène au travail</h5>
              <h5>Elément 1 : Santé et Hygiène au travail</h5>
              <h5>Elément 2 : Sécurité de travail</h5>
              <h5>Elément 3 : Environnement et protection des milieux</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 2 : Qualité Industrielle</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Système de Management de la Qualité ISO9000/1</h5>
              <h5>Elément 2 : Outils Statistiques de la Qualité</h5>
              <h5>Elément 3 : Outils d'analyse et résolution des problèmes</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 3 : Sécurité Industrielle</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Normes & certification OHSAS18000/1, ISO 45000/1</h5>
              <h5>Elément 2 : Sécurité des équipements & Sécurité Logistique</h5>
              <h5>Elément 3 : Gestion des Risques et de Dangers</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 4 : Systèmes de Management de l'Environnement</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Normes & certification, ISO 14000/1</h5>
              <h5>Elément 2 : Gestion de l'Eau, Air et Sols & Gestion des Déchets</h5>
              <h5>Elément 3 : RSE & Développement durable</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 5 : Outils juridiques et de Gestion de l’entreprise</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Droit de travail, Sécurité au travail</h5>
              <h5>Elément 2 : Gestion RH & Gestion des Entreprises</h5>
              <h5>Elément 3 : Comptabilité Générale et Analytique</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 6 : Management de la production</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Gestion de Projets</h5>
              <h5>Elément 2 : Amélioration continue</h5>
              <h5>Elément 3 : Gestion de la production</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 7 : PFE</p>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Modalités d’inscription</h4>
          <p>Le dossier de candidature dûment rempli et signé</p><br>
          <p><a href="ensat.ac.ma/Portail/wp-content/uploads/2020/10/DOSSIER-DE-CANDIDATURE-2020-MQHSE.docx"></a>DOSSIER DE CANDIDATURE 2020 MQHSE</p><br>
          <p>La convention dûment remplie et signée </p><br>
          <p><a href="http://ensat.ac.ma/Portail/wp-content/uploads/2020/10/CONVENTION-_DCA_MQHSE-2020-MQHSE.docx"></a>DOSSIER DE CANDIDATURE 2020 MQHSE</p><br>
          <p>Une lettre de motivation manuscrite<br>
          Un curriculum vitae<br>
          Deux photos d’identités récentes<br>
          Une copie certifiée de l’original du  BAC<br>
          Une copie certifiée de l’original du dernier diplôme<br>
          Une copie certifiée du CIN</p>
          <h4>Responsable Pédagogique</h4>
          <p>Professeur Mohammed Réda Britel<br>
            TEL : 06 70 56 66 85<br>
            email: mrbritel@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
