<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>
              Management des systèmes Industriels & Logistique
              </h3>
          </div>
          <h4>Objectifs de la formation</h4>
          <p>Le diplômé en Management des Systèmes Industriels & Logistique est fondamentalement un manager industriel, ouvert sur l’International. Il est capable de concevoir, d’organiser, d’implanter ou de piloter des systèmes industriels complexes en considérant l’ensemble des dimensions techniques, organisationnelles, financières et humaines. Il participe à l’organisation de l’entreprise, en respectant les principes de durabilité et de respect de l’environnement. Il met ses connaissances au service de la performance, de la sécurité et de la qualité. Sa compétence s’étend des installations jusqu’aux produits, en passant par les relations et les informations mises en jeu lors de la production.<br>

            La logistique étant un volet important du domaine industriel, la formation développe les enseignements adéquats pour une spécialisation dans le domaine de la logistique en vue de répondre à un besoin de plus en plus exprimé.<br>
            
            Les objectifs spécifiques de la formation consistent à former des cadres capables de:<br>
            
                mener et conduire des projets industriels ;<br>
                participer à l’excellence opérationnelle de l’organisation par la mise en place des méthodes d’amélioration continue ;<br>
                accompagner des processus d’innovation dans l’entreprise – création de produits et d’activités nouvelles, mise en place de nouveaux processus, partenariats et internationalisation – à l’interface de la dynamique technologique et du management de l’entreprise, dans le contexte de mondialisation ;<br>
                favoriser le déploiement de l’innovation au sein de l’organisation par la mise en place d’une gestion de projets de l’innovation, supportée notamment par des systèmes d’information ;<br>
            
                maîtriser le flux de production ;<br>
            
                gérer la chaîne logistique ;<br>
            
                proposer des outils et des techniques d’optimisation ;<br>
            
                conduire les participants à la maîtrise des concepts et des outils qui permettent d’optimiser le fonctionnement de l’entreprise par la démarche Qualité.</p>
          <h4>Débouchés</h4>
          <p>La variété des carrières est très grande car cette formation donne des outils de la poly-compétence. De ce fait les lauréats sont capables d’occuper les fonctions telles que :<br>

            Directeur : Directeur technique, de la production, de l’ingénierie, Directeur d’usine, Directeur de la logistique, Directeur des achats.<br>
            Responsable : Responsable de la production, d’une ligne de fabrication, du planning et de l’ordonnancement, de la qualité, des méthodes.<br>
            Responsable de produits nouveaux,<br>
            Responsable de projet d’activité nouvelle,<br>
            Responsable de veille technologique et d’intelligence économique.<br>
        
        La formation Management des Systèmes Industriels & Logistique, ayant une vocation internationale, une bonne partie des postes se trouvent dans des entreprises à stature internationale.</p>
          <h4>Public Concerné</h4>
          <p>Le DCESS « Management des Systèmes Industriels & Logistique » est ouvert  aux étudiants et cadres d’entreprises ayant l’un des diplômes  suivants :<br>

            Licence scientifique ou technique ; <br>
           Tout diplôme de niveau bac+3 donné par les établissements privés relevant de l’enseignement supérieur ;<br>
           Diplômes équivalents (Licence professionnelle, Diplôme de cycle approfondie, Autres licences + au moins 2ans d’expérience…) ;<br>
           Tout diplôme étranger reconnu équivalent.</p><br>
          <h4>Programme de la formation</h4><br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 1 : Systèmes d'information & informatique de gestion</p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Conception des systèmes d’information des entreprises</h5>
              <h5> Elément 2: ERP</h5>
              <h5> Elément 3: Informatique décisionnelle</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 2 : Gestion des organisation & analyse financière</p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Contrôle de gestion</h5>
              <h5> Elément 2 : Marketing industrielle</h5>
              <h5> Elément 3: Analyse financière & comptabilité</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 3 : Optimisation & simulation des systèmes industriels </p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Optimisation et Outils d’aide à la décision</h5>
              <h5> Elément 2 : Optimisation des systèmes de production</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 4 :Soft Skills & Management de projet</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Management de projet</h5>
              <h5> Elément 2 : Anglais et Techniques de communication</h5>
              <h5> Elément 3 :Soft Skills</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 5 : Gestion industrielle</p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Gestion de la maintenance et sûreté de fonctionnement</h5>
              <h5> Elément 2: Management de la qualité</h5>
              <h5> Elément 3: Etude de cas industriel</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 6 : Innovation et Ingénierie mécanique </p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Outils d’innovation</h5>
              <h5> Elément 2 : Communication technique</h5>
              <h5> Elément 3 : Conception assistée par ordinateur sur CATIA</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 7 : Excellence opérationnelle</p>
            <div class="vlt-pullquote__meta">
              <h5>  Elément 1 : Six Sigma et TOC</h5>
              <h5>  Elémént 2: Serious Games & Lean Manufacturing</h5>
              <h5>  Elémént 3: Séminaires</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 8 : Ingénierie de la chaîne Logistique</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Supply Chain Management</h5>
              <h5>Elément 2 : Incoterms et réglementation du transport</h5>
              <h5>Elément 3 : Logistique maritime</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text"> Module 9: Gestion de production </p>
            <div class="vlt-pullquote__meta">
              <h5> Gestion des stocks</h5>
              <h5>  Elément 1 : Planification & Ordonnancement</h5>
              <h5>  Elément 2 : Implantation des Systèmes de Production</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Modalités d’inscription</h4>
          <p>    Avoir le niveau requis pour accéder à la formation :   Le DCESS Management des Systèmes Industriels & Logistique s’adresse à des candidats ayant une licence.
            Avoir satisfait à un entretien de sélection. L’admission définitive est prononcée après examen du dossier et un entretien.<br>
        
        Le dossier d’inscription est à déposer à l’ENSA de tanger et doit comprendre les pièces suivantes: <br>
        
            Lettre de motivation <br>
            Une fiche d’inscription dûment remplie <a href="http://ensat.ac.ma/Portail/wp-content/uploads/2020/09/Fiche-de-candidature-DCESS-MSIL.doc">(à télécharger)</a> <br>
            Un CV <br>
            Une copie certifiée des diplômes <br>
            Une copie certifiée de la CIN<br>
            Deux photos récentes<br>
            La convention de la formation avec signature légalisée (à telecharger) </p>
        
          <h4>Frais d’inscription</h4>
          <p>Les frais de formation sont de 35.000 Dhs (à payer en plusieurs tranches).</p><br>
          <h4>Responsable Pédagogique</h4>
          <p>Abderrazak BOUMANE<br>
            Mobile: 06 53 56 60 06<br>
            E-mail: aboumane@uae.ac.ma</p>
        </div>
      </div>
    </div>
  </div>
</section>
