<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>Génie Informatique</h3>
          </div>
          <h4>Objectifs de la formation</h4>
          <p>L’objectif de cette formation est de permettre aux personnes ayant un bac +2 ou plus d’acquérir les bases de l’informatique et de se spécialiser en Génie Informatique (Génie logiciel, Réseaux, Systèmes d’information, etc.). Vu la très forte demande de la compétence informatique, cette formation permet d’assurer en une année, une formation solide en informatique. Afin de permettre aux lauréats d’intégrer plus facilement les divers secteurs de la vie professionnelle. Un intérêt particulier est donné à l’enseignement en techniques d’expression et de communication, en langues, économie, gestion et qualité.</p>
          <h4>Débouchés</h4>
          <p>Développeur / administrateur d’applications<br>
            Concepteur / développeur en environnement client/serveur<br>
            Administrateur réseau et système<br>
            Administrateur de bases de données<br>
            Concepteur / développeur de sites Web</p>
          <h4>Public Concerné</h4>
          <p>Employés et cadres d’établissements publics ou privés ayant un Bac+2 scientifiques,  Techniques ou sciences économiques ou équivalent publiques ou privés.<br>
            Étudiants, Lauréats des établissements d’enseignement supérieur publics ou privés ayant un Bac+2 scientifiques,  Techniques ou sciences économiques ou équivalent.</p><br>
          <h4>Programme de la formation</h4><br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 1 : Programmation avancée en C & Administration Système Linux</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Programmation avancée en C</h5>
              <h5>Elément 2 : Administration Système Linux</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 2 : CCNA 1 Introduction aux réseaux et CCNA 2 Routage et commutation </p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Architecture des réseaux : Protocoles, câblage et configuration (CCNA1 Cisco )</h5>
              <h5>Elément 2 : Configuration des routeurs et Réseaux longues distances (CCNA2 Cisco )</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 3 : MERSIE SQL & P.O.O en C++ </p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Merise & SQL au travers SQL Server</h5>
              <h5>Elément 2 : Programmation Orienté Objet en C++</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 4 : Programmation Web en PHP et Framework SYMFONY 4.2</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Initiation à la programmation web dynamique en PHP</h5>
              <h5>Elément 2 : PHP OO et Framework Symfony 4</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 5 : Technologies .Net</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Développement d'application Web avec ASP.Net en VB.Net</h5>
              <h5>Elément 2 : Programmation en C#</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 6 : Gestion de Projets & Optimisation</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : L'informatique et aide à la décision, Matlab</h5>
              <h5>Elément 2 : Gestion de projets & Ms Project</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 7 : Développement JAVA / J2EE </p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Programmation en Java</h5>
              <h5>Elément 2 : Développement Web Java EE</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 8 : Projet de fin d’études</p>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Modalités d’inscription</h4>
          <p>Les dates à retenir sont définies comme suit :<br>
            Dépôt des dossiers de candidature : à partir du Septembre 2020.<br>
            Date limite de dépôt des dossiers de candidature : Mi-Octobre 2020<br>
            Entretien :Fin Octobre 2020<br>
            Début des cours : début novembre 2020</p>
          <h4>Débouchés</h4>
          <p>Développeur / administrateur d’applications<br>
            Concepteur / développeur en environnement client/serveur<br>
            Administrateur réseau et système<br>
            Administrateur de bases de données<br>
            Concepteur / développeur de sites Web</p>
          <h4>Frais d’inscription</h4>
          <p>Les frais de formation sont arrêtés à la somme de 22 000 DH (Vingt deux mille dirhams) avec facilité de paiement.</p><br>
          <h4>Responsable Pédagogique</h4>
          <p>Prof Mohamed EL HADDAD<br>
            Tél : 06 61 99 14 09<br>
            Fax : 05 39 39 37 43 <br>
            Site Web: http://www.ensat.ac.ma/dca<br>
            Email: dca.ensat@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
