<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>Technologies Industrielles & Simulation</h3>
          </div>
          <h4>Objectifs de la formation</h4>
          Former des responsables et des assistant-ingénieurs  dans tous les secteurs relevant de la filière génie industrielle (Mécatronique, Maintenance des machines, Sécurité, Supervision des systèmes industriels, IT Manager, Système d’information,…etc.) <br>

Cette formation permet à ses lauréats d’acquérir les compétences suivantes :
<br>
    Maitriser les logiciels de simulations en électronique<br>

    Connaitre les procédés de fabrication (CFAO)  et Maitriser le logiciel de simulation CATIA.<br>

    Modélisation et simulation des systèmes de production, en utilisant le logiciel ARENA<br>

    Avoir une vision approfondie des processus de l’entreprise(achats, ventes, finance, contrôle de gestion, gestion de stock, transport…). Simulation sur progiciel SAP<br>

    Connaitre les outils d’aide à la décision pour les processus Industriels<br>

    Maitriser les automates programmables et les systèmes de supervision industrielle<br>

    Connaitre les outils de Maintenance et Sureté de fonctionnement  (GMAO, AMDEC) <br>

    Connaitre les outils de management de projets et de démarches qualité<br>
    Se familiariser avec le monde des systèmes embarqués 
          <h4>Public Concerné</h4>
          <p>    Techniciens spécialisés en Mécatronique, électromécaniques des systèmes automatisés, en automatisation et instrumentation industrielle, Maintenance des machines, Fabrication mécanique…, etc.<br>
            Etudiants, Lauréats des établissements d’enseignement supérieur publics ou privés (DEUST, DUT, BTS…etc.)</p><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Responsable Pédagogique</h4>
          <p>Professeur Hassan SAMADI<br>
            TEL : 0672110403<br>
            Emails : ha.samadi@gmail.com  / hsamadi@uae.ac.ma</p>
        </div>
      </div>
    </div>
  </div>
</section>
