<!DOCTYPE html>
<html class="no-js vlt-is--homepage vlt-is--footer-fixed" lang="en">

<head>
	<meta charset="utf-8">
	<title>Gilber - Homepage</title>
	<meta name="description" content="Personal CV/Resume HTML5 Template">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--Favicon-->
	<link rel="icon" type="image/svg" href="/assets/img/root/favicon.svg">
	<!--Framework-->
	<link rel="stylesheet" href="/assets/css/framework/bootstrap.min.css">
	<!--Fonts-->
	<link rel="stylesheet" href="/assets/fonts/Gilroy/style.css">
	<!--Icons-->
	<link rel="stylesheet" href="/assets/fonts/LineIcons/Pro-Regular/font-css/LineIcons.css">
	<!--Plugins-->
	<link rel="stylesheet" href="/assets/css/vlt-plugins.min.css">
	<!--Style-->
	<link rel="stylesheet" href="/assets/css/vlt-main.min.css">
	<!--Custom-->
	<link rel="stylesheet" href="/assets/css/custom.css">
</head>
<app-Navbar></app-Navbar>
<body class="animsition">
    <router-outlet></router-outlet>
	<!--Footer-->
	<footer class="vlt-footer vlt-footer--default vlt-footer--fixed">
		<div class="vlt-footer-copyright">
			<p>© Gilber. 2020</p>
		</div>
		<div class="vlt-language-switcher"><a class="is-active" href="#">Eng</a><a href="#">Fra</a><a href="#">Ger</a></div>
	</footer>
</body>

</html>