<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>
              Ingénierie & Technologies Industrielles
              </h3>
          </div><p>L’objectif du DCESS « Ingénierie & Technologies Industrielles » est de former des cadres pluridisciplinaires capables d’occuper des postes de responsabilité dans les entreprises de production et dans des secteurs d’activité très divers. La vocation de la formation est d’apporter aux étudiants et aux salariés des compétences spécifiques, à travers une formation pluridisciplinaire technique et scientifique. Permettant aux lauréats de contribuer à l’amélioration continue à travers l’innovation et la recherche appliquée, dans un contexte de qualité totale et de changements technologiques.
            D’une manière générale, la formation a pour objectif de former des profils polyvalents, dans les domaines de l’industrie, de l’électromécanique, de l’électronique, de l’électrotechnique, de la mécanique, de l’automatique, de l’informatique industrielle et de la maintenance, capables de concevoir, de réaliser et d’analyser des éléments et des systèmes du milieu industriel-économique selon une approche projet.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Responsable Pédagogique</h4>
          <p>Professeur Youness CHATER<br>
            Tél :  06 69 30 67 69 <br>
            email: youness.chater@gmail.com </p>
        </div>
      </div>
    </div>
  </div>
</section>
