<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>Technologie de Conception et de Développement Web et Mobile</h3>
          </div>
          <h4>Objectifs de la formation</h4>
          <p>La formation Technologie de Conception et de Développement Web et Mobile se veut une formation diplômante et professionnalisante, permettant aux lauréats d’accéder au monde du travail avec les compétences d’informaticien de haut niveau dans cette spécialité. L’objectif prioritaire de cette filière est de combler un besoin énorme en cadres informaticiens compétents dans les entreprises. Pour cela, la formation veut donner suffisamment de connaissances face aux défis de l’expansion des nouvelles technologies web et mobiles. Le DCA «Technologie de Conception et de Développement Web et Mobile (TCDWM)» vient pour répondre aux besoins diversifiés de recrutement, tout en fournissant les bases nécessaires pour la poursuite des études au-delà du DCA. </p>
          <h4>Débouchés</h4>
          <p>    Développeur Back-end/front-end/full-stack<br>
            Analyste-programmeur<br>
            Analyste fonctionnel<br>
            Analyste test et validation<br>
            Webmaster<br>
            Webdesigner<br>
            Développeur d’applications mobiles<br>
            Développeur CMS </p>
          <h4>Conditions d’admission</h4>
          <p>Le cycle DCA est ouvert aux étudiants ou personnes titulaires d’un DEUG, DEUST ou DEUP. Les autres diplômes donnant accès à une inscription en DCA sont : <br>

            Tout diplôme de niveau bac+2 donné par les établissements publics relevant de l’enseignement supérieur. <br>
            Tout diplôme de niveau bac+2 donné par les établissements publics relevant de la formation professionnelle (ISTA). <br>
            Tout diplôme de niveau bac+2 donné par les établissements privés accrédités par la formation professionnelle (accréditation exigée). <br>
            Tout diplôme étranger reconnu équivalent. </p><br>
          <h4>Programme de la formation</h4><br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 1 : WebDesign et IHM</p>
            <div class="vlt-pullquote__meta">
              <h5>L’IHM est une discipline, une démarche, pour concevoir une interface au service de l’internaute. Ce module permet l'étude d'ergonomie pour atteindre les objectifs d’efficacité, d’efficience et de satisfaction de manière générique.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 2 : Base de données et modélisation</p>
            <div class="vlt-pullquote__meta">
              <h5>La modélisation, conception correcte et la maîtrise des bases de données jouent un rôle primordiale dans le succès d'un projet informatique. Ce module permet d'offrir les bases de modélisation et d'exploitation des sources de données (base de données,XML).</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 3 : Technologies d'integration</p>
            <div class="vlt-pullquote__meta">
              <h5>Ce module est structuré en quatre parties : HTML5, CSS3, JQuery, et Javascript.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 4 : Développement web</p>
            <div class="vlt-pullquote__meta">
              <h5>Cet enseignement est structuré en trois parties : PHP avancé: POO, Laravel, Design patterns (MVC), et Sécurité web & test unitaires.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 5 : CMS, ERP et E-commerce</p>
            <div class="vlt-pullquote__meta">
              <h5>Ce module a pour objectif de comprendre ce qu'un Progiciel de Gestion Intégré (ERP) et les différentes technologies de gestion de contenu de l'entreprise.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 6 : Développement Mobile Native/Hybride</p>
            <div class="vlt-pullquote__meta">
              <h5>Ce module est structuré en deux parties :
                Développement Hybride: Ionic+Angularjs; et Développement Native: JAVA pour Android.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 7 : Communication et marketing des réseaux sociaux</p>
            <div class="vlt-pullquote__meta">
              <h5>Il s'agit d'un cours général proposant une approche globale du management : il aborde par conséquent les diverses questions liées à la direction et à la gestion d'une entreprise.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 8 : Projet professionnel ou stage</p>
            <div class="vlt-pullquote__meta">
              <h5>Le projet professionnel ou stage est un atelier de manipulation des connaissances acquises lors de la formation.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Modalités d’inscription</h4>
          <p>    Fiche de candidature (imprimée en recto-verso) portant l’avis favorable du responsable du DU : <br>

            Une lettre de motivation manuscrite<br>
        
            Un curriculum vitae<br>
        
            4 photos d’identité récentes<br>
        
            Deux copies certifiées conformes à l’original du diplôme Bac+2<br>
        
            Deux copies certifiées conformes à l’original du baccalauréat<br>
        
            Une photocopie d’une pièce d’identité (CIN) certifiée conforme et en cours de validité<br>
        
            Attestation de travail originale (pour la catégorie cadres  professionnels)</p><br>
            <h4>Frais d’inscription </h4>
          <p>20000 Dirhams<br>
            Facilité de paiement</p>
          <h4>Responsable Pédagogique</h4>
          <p>Pr. Mohamed El Alami Hassoun<br>
            Téléphone: 0662083613<br>
            Website: http://www.learneverywhere.net/dca/ <br>
            Email: m.elalamihassoun@uae.ac.ma </p>
        </div>
      </div>
    </div>
  </div>
</section>
