<!--Contact-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Contact">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background"><img src="assets/img/contact.jpg" alt=""></div>
						<div class="container">
							<div class="row">
								<div class="col-xl-4">
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
										<h3>Contact</h3>
										<div class="vlt-gap-30"></div>
										<p>You'll called for yielding male, so lights Stars abundantly, is their.</p>
										<div class="vlt-gap-40"></div>
										<address>27 Queen St, New York USA</address>
										<p><a class="tel" href="tel:+72126742510">+7 (212) 674-25-10</a></p>
										<p><a class="email" href="mailto:gilber.design@gmail.com">gilber.design@gmail.com</a></p>
									</div>
								</div>
								<div class="col-xl-6 offset-xl-2">
									<div class="vlt-gap-70--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<h4>Let's grab a coffee and jump on conversation <span class="has-accent-color">chat with me.</span></h4>
										<div class="vlt-gap-20"></div>
										<form class="vlt-contact-form" novalidate="novalidate">
											<div class="vlt-form-group">
												<input type="text" id="name" name="name" required="required" placeholder="Your Name">
											</div>
											<div class="vlt-form-group">
												<input type="email" id="email" name="email" required="required" placeholder="Your Email">
											</div>
											<div class="vlt-form-group">
												<textarea name="message" id="message" rows="3" placeholder="Message"></textarea>
											</div>
											<div class="message success">Your message is successfully sent...</div>
											<div class="message danger">Sorry something went wrong!</div>
											<!--Button-->
											<button class="vlt-btn vlt-btn--primary vlt-btn--md">Contact Me</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



<!-- <mat-card class="register-card">
  <h1>Login</h1>
  <form #loginForm="ngForm" class="form-create" (ngSubmit)="login()">
    <div mat-dialog-content>
        <p>
            <mat-form-field class="w-80" appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="model.email" placeholder="Email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="w-80" appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput name="password" [(ngModel)]="model.password" placeholder="Password">
            </mat-form-field>
        </p>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="submit">Login</button>
    </div>
  </form>
</mat-card> -->
