<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>
              
Ingénierie informatique, Sécurité et Décision

              </h3>
          </div><p>Le Master/DCESS MSIIDE en Ingénierie informatique, Sécurité et Décision décrit la performance et le développement d’une carrière professionnelle en génie informatique dans cinq volets différents, et complémentaires en même temps:
            - Sécurité Informatique et Cybersécurité- Big Data et Science des données- Gestion des systèmes d'information- Administration Réseau Informatique- Développement Informatique: Mobile et Classique
            Les cinqs volets se deroulent avec des valeurs que MSIIDE a adopté: Excellence, Esprit d’équipe et Innovation. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Responsable Pédagogique</h4>
          <p>Pr. Hassan BADIR<br>
            Tel: +212 60065@4@6<br>
            Email: msiide.formation@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
