<section>
  <div class="vlt-product-hero-title jarallax"><img class="jarallax-img" src="assets/img/single-product-01.jpg" alt="" loading="lazy">
    <div class="container">
      <!--Animated Block-->
      <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
        <h1 class="vlt-large-heading text-center">The Bottle<span class="has-accent-color">.</span></h1>
      </div>
      <div class="vlt-product-hero-title__details">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h6>Design</h6>
          <p>Jonny Laymore</p>
        </div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
          <h6>Services</h6>
          <p>Branding, UI/UX Design, <br>Mobile Design</p>
        </div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
          <h6>Date</h6>
          <p>Feburary 25th, 2020</p>
        </div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.4s; animation-duration:700ms;">
          <h6>Team</h6>
          <p>Paul - Designer<br>VLThemes - Coder</p>
        </div>
      </div>
    </div>
  </div>
</section>