<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>
              
Ingénierie des Systèmes et Management de Projets

              </h3>
          </div><p>La formation ISMP Ingénierie des systèmes et management de projets est une formation de haut niveau en double diplômation:<br>

            DCESS (Diplôme de l’université  Abdelmalek ESSAADI-Maroc)<br>
        
            MASTER (Diplôme d’état français, Université d’ANGERS-France)<br>
        
        Le Master/DCESS ISMP a pour objectif principal de former des cadres aptes à mettre en œuvre des méthodes et des outils de management de projets, de la qualité, de la fiabilité permettant d’optimiser la conception, l’élaboration et le fonctionnement des systèmes et assure la performance des organisations. <br>
        
        La diversité des séminaires et cours, assurés par des experts, amène l’apprenant à disposer d’une capacité d’analyse de problématique et de conception de solutions justifiées selon des normes et des référentiels internationaux.<br>
        
        Un lauréat du DCESS/Master ISMP disposera très certainement de compétences d’ingénieur-Manager qui saura utiliser les forces du système d’information au profit du système industriel afin d’améliorer la productivité, l’efficacité et la rentabilité des opérations  de l’entreprise, dans le respect des facteurs humains et environnementaux.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Responsable Pédagogique</h4>
          <p>Pr. Abdelhak Ezzine<br>
            Tel: 0662197880<br>
            Email: ezzine.abdelhak@gmail.com <br>
            Site Web: uae.ac.ma/ismp </p>
        </div>
      </div>
    </div>
  </div>
</section>
