<!-- content -->


<h1 class="h2 font-weight-light">Welcome  to your <b>Dashboard</b></h1>

<!-- alerts -->
<section id="section-8">
  <h2 class="section-title">Informations Personnelles <a data-scroll="" href="#section-8" class="anchor" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy URL"></a></h2>
  <div class="">
    <div class="col">
      <div class="alert alert-info" role="alert">
        <p>
          <b>Date of Birth : </b>
          {{user.date_birth}}
        </p>
        <i class="icon-info-circle"></i>
      </div>
    </div>
  </div>
</section>
<!-- / alerts -->

<section id="section-8">
  <h2 class="section-title">Informations Professionnelles <a data-scroll="" href="#section-8" class="anchor" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy URL"></a></h2>
  <div class="">
    <div class="col">
      <div class="alert alert-info" role="alert">
        <p>
          <b>Email : </b>
          {{user.email}}
        </p>
        <i class="icon-info-circle"></i>
      </div>
    </div>
  </div>
</section>
<!-- typogrpahy -->
<section id="section-1">
  <h2 class="section-title">Numbers <a data-scroll="" href="#section-1" class="anchor" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy URL"></a></h2>
  <div class="row gutter-3">
    <div class="col-6 col-md-4">
      <div class="type boxed">
        <div>
          <h5 class="type-title">Users Count</h5>
          <div class="type-example">
            <span>{{numUsers}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="type boxed">
        <div>
          <h5 class="type-title">Trainings Count</h5>
          <div class="type-example">
            <span>{{numTrainings}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="type boxed">
        <div>
          <h5 class="type-title">Modules Count</h5>
          <div class="type-example">
            <span>{{numModules}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="type boxed">
        <div>
          <h5 class="type-title">Subjects Count</h5>
          <div class="type-example">
            <span>{{numSubjects}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="type boxed">
        <div>
          <h5 class="type-title">Document Requests Count</h5>
          <div class="type-example">
            <span>{{numDocumentRequests}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <div class="type boxed">
        <div>
          <h5 class="type-title">Privileges Count</h5>
          <div class="type-example">
            <span>{{numPrivileges}}</span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
<!-- / typography -->
