<!-- content -->


<h1 class="h2 font-weight-light">Your <b>documentation</b> template can look like this. Check it out.</h1>


<!-- typogrpahy -->
<section id="section-1">
  <h2 class="section-title">Typography <a data-scroll="" href="#section-1" class="anchor" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy URL"></a></h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus, amet perferendis, temporibus obcaecati pariatur. Reprehenderit magnam necessitatibus vel culpa provident quas nesciunt sunt aut cupiditate fugiat!</p>
  <div class="row gutter-3">
    <div class="col-6 col-md-4">
      <div class="type boxed">
        <div>
          <span class="badge badge-primary">New</span>
          <h5 class="type-title">Open Sans</h5>
          <div class="type-example">
            <span>Ab</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="type bordered">
        <div>
          <h5 class="type-title">Open Sans Bold</h5>
          <div class="type-example">
            <span class="font-weight-bold">Ab</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / typography -->
