
<!-- toc -->
<aside class="col-lg-12">
    <div class="sticky sticky-with-header" style="">
      <button class="overlay-menu-open"></button>
      <div class="overlay-menu boxed bg-dark text-white mb-3 mb-lg-0">
        <ul id="page-nav" class="nav flex-column nav-vertical">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/students/">Dashboard </a>
            <a class="nav-link" routerLink="/students/marks">Grades </a>
            <a class="nav-link" routerLink="/students/calendar">Calendar </a>
            <a class="nav-link" routerLink="/students/courses">Courses </a>
            <a class="nav-link" routerLink="/students/requests">Requests </a>
            <a class="nav-link" routerLink="/students/absence">Attendance </a>  
          </li>
        </ul>
      </div>
    </div>
  </aside>