

		<!--Fullpage Slider-->
		<div class="vlt-fullpage-slider" data-loop-top="" data-loop-bottom="" data-speed="450">
			<!--Home-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Home">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background has-mobile-image">
							<div class="animation-wrapper col-lg-4 offset-lg-6">
								<div class="sphere-animation">
								  <svg class="sphere" viewBox="0 0 440 440" stroke="rgba(80,80,80,.35)">
									<defs>
									  <linearGradient id="sphereGradient" x1="5%" x2="5%" y1="0%" y2="15%">
										<stop stop-color="#d9e4ff" offset="0%"/>
										<stop stop-color="#6590f7" offset="50%"/>
										<stop stop-color="#643dff" offset="100%"/>
									  </linearGradient>
									</defs>
									<path d="M361.604 361.238c-24.407 24.408-51.119 37.27-59.662 28.727-8.542-8.543 4.319-35.255 28.726-59.663 24.408-24.407 51.12-37.269 59.663-28.726 8.542 8.543-4.319 35.255-28.727 59.662z"/>
									<path d="M360.72 360.354c-35.879 35.88-75.254 54.677-87.946 41.985-12.692-12.692 6.105-52.067 41.985-87.947 35.879-35.879 75.254-54.676 87.946-41.984 12.692 12.692-6.105 52.067-41.984 87.946z"/>
									<path d="M357.185 356.819c-44.91 44.91-94.376 68.258-110.485 52.149-16.11-16.11 7.238-65.575 52.149-110.485 44.91-44.91 94.376-68.259 110.485-52.15 16.11 16.11-7.239 65.576-52.149 110.486z"/>
									<path d="M350.998 350.632c-53.21 53.209-111.579 81.107-130.373 62.313-18.794-18.793 9.105-77.163 62.314-130.372 53.209-53.21 111.579-81.108 130.373-62.314 18.794 18.794-9.105 77.164-62.314 130.373z"/>
									<path d="M343.043 342.677c-59.8 59.799-125.292 91.26-146.283 70.268-20.99-20.99 10.47-86.483 70.269-146.282 59.799-59.8 125.292-91.26 146.283-70.269 20.99 20.99-10.47 86.484-70.27 146.283z"/>
									<path d="M334.646 334.28c-65.169 65.169-136.697 99.3-159.762 76.235-23.065-23.066 11.066-94.593 76.235-159.762s136.697-99.3 159.762-76.235c23.065 23.065-11.066 94.593-76.235 159.762z"/>
									<path d="M324.923 324.557c-69.806 69.806-146.38 106.411-171.031 81.76-24.652-24.652 11.953-101.226 81.759-171.032 69.806-69.806 146.38-106.411 171.031-81.76 24.652 24.653-11.953 101.226-81.759 171.032z"/>
									<path d="M312.99 312.625c-73.222 73.223-153.555 111.609-179.428 85.736-25.872-25.872 12.514-106.205 85.737-179.428s153.556-111.609 179.429-85.737c25.872 25.873-12.514 106.205-85.737 179.429z"/>
									<path d="M300.175 299.808c-75.909 75.909-159.11 115.778-185.837 89.052-26.726-26.727 13.143-109.929 89.051-185.837 75.908-75.908 159.11-115.778 185.837-89.051 26.726 26.726-13.143 109.928-89.051 185.836z"/>
									<path d="M284.707 284.34c-77.617 77.617-162.303 118.773-189.152 91.924-26.848-26.848 14.308-111.534 91.924-189.15C265.096 109.496 349.782 68.34 376.63 95.188c26.849 26.849-14.307 111.535-91.923 189.151z"/>
									<path d="M269.239 267.989c-78.105 78.104-163.187 119.656-190.035 92.807-26.849-26.848 14.703-111.93 92.807-190.035 78.105-78.104 163.187-119.656 190.035-92.807 26.849 26.848-14.703 111.93-92.807 190.035z"/>
									<path d="M252.887 252.52C175.27 330.138 90.584 371.294 63.736 344.446 36.887 317.596 78.043 232.91 155.66 155.293 233.276 77.677 317.962 36.521 344.81 63.37c26.85 26.848-14.307 111.534-91.923 189.15z"/>
									<path d="M236.977 236.61C161.069 312.52 77.867 352.389 51.14 325.663c-26.726-26.727 13.143-109.928 89.052-185.837 75.908-75.908 159.11-115.777 185.836-89.05 26.727 26.726-13.143 109.928-89.051 185.836z"/>
									<path d="M221.067 220.7C147.844 293.925 67.51 332.31 41.639 306.439c-25.873-25.873 12.513-106.206 85.736-179.429C200.6 53.786 280.931 15.4 306.804 41.272c25.872 25.873-12.514 106.206-85.737 179.429z"/>
									<path d="M205.157 204.79c-69.806 69.807-146.38 106.412-171.031 81.76-24.652-24.652 11.953-101.225 81.759-171.031 69.806-69.807 146.38-106.411 171.031-81.76 24.652 24.652-11.953 101.226-81.759 171.032z"/>
									<path d="M189.247 188.881c-65.169 65.169-136.696 99.3-159.762 76.235-23.065-23.065 11.066-94.593 76.235-159.762s136.697-99.3 159.762-76.235c23.065 23.065-11.066 94.593-76.235 159.762z"/>
									<path d="M173.337 172.971c-59.799 59.8-125.292 91.26-146.282 70.269-20.991-20.99 10.47-86.484 70.268-146.283 59.8-59.799 125.292-91.26 146.283-70.269 20.99 20.991-10.47 86.484-70.269 146.283z"/>
									<path d="M157.427 157.061c-53.209 53.21-111.578 81.108-130.372 62.314-18.794-18.794 9.104-77.164 62.313-130.373 53.21-53.209 111.58-81.108 130.373-62.314 18.794 18.794-9.105 77.164-62.314 130.373z"/>
									<path d="M141.517 141.151c-44.91 44.91-94.376 68.259-110.485 52.15-16.11-16.11 7.239-65.576 52.15-110.486 44.91-44.91 94.375-68.258 110.485-52.15 16.109 16.11-7.24 65.576-52.15 110.486z"/>
									<path d="M125.608 125.241c-35.88 35.88-75.255 54.677-87.947 41.985-12.692-12.692 6.105-52.067 41.985-87.947C115.525 43.4 154.9 24.603 167.592 37.295c12.692 12.692-6.105 52.067-41.984 87.946z"/>
									<path d="M109.698 109.332c-24.408 24.407-51.12 37.268-59.663 28.726-8.542-8.543 4.319-35.255 28.727-59.662 24.407-24.408 51.12-37.27 59.662-28.727 8.543 8.543-4.319 35.255-28.726 59.663z"/>
								  </svg>
								</div>
							  </div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-lg-5">
									<div class="vlt-gap-160"></div>
									<div class="vlt-gap-15"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
										<h1 class="vlt-large-heading">ENSAT<span class="has-accent-color">.</span></h1>
									</div>
									<div class="vlt-gap-15"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
											<p>Ecole Nationale des Sciences Appliquées</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Projects-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Projects">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Projects-->
						<div class="vlt-section__projects-background"><img class="is-active" src="assets/img/project-01.jpg" alt="" loading="lazy"><img src="assets/img/project-02.jpg" alt="" loading="lazy"><img src="assets/img/project-03.jpg" alt="" loading="lazy"></div>
						<div class="container">
							<div class="vlt-gap-100"></div>
							<!--Animated Block-->
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
								<!--Content slider-->
								<div class="vlt-content-slider " data-navigation-anchor=".vlt-projects-anchor" data-effect="fade" data-gap="" data-loop="" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{}" data-free-mode="" data-slider-offset="" data-mousewheel="">
									<div class="swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<!--Product-->
												<article class="vlt-project">
													<h3 class="vlt-project-title">Watch<span class="has-accent-color">.</span></h3>
													<div class="vlt-project-excerpt">
														<p>Bring saw gathering kind evening them air him void morning dominion spirit multiply seas shall day were likeness. Upon tree a gathering.</p>
													</div>
													<!--Button--><a class="vlt-btn vlt-btn--primary vlt-btn--md" href="single-product.html" target="_self">See Project</a>
												</article>
											</div>
											<div class="swiper-slide">
												<!--Product-->
												<article class="vlt-project">
													<h3 class="vlt-project-title">The Bottle<span class="has-accent-color">.</span></h3>
													<div class="vlt-project-excerpt">
														<p>Working with client and community, we deliver masterplans that create vibrant new places and spaces, attract people, and encourage investment through.</p>
													</div>
													<!--Button--><a class="vlt-btn vlt-btn--primary vlt-btn--md" href="single-product.html" target="_self">See Project</a>
												</article>
											</div>
											<div class="swiper-slide">
												<!--Product-->
												<article class="vlt-project">
													<h3 class="vlt-project-title">Aesop<span class="has-accent-color">.</span></h3>
													<div class="vlt-project-excerpt">
														<p>Third dry hath saying our over fruit Place creeping creepeth let Good. Created also darkness which open appear cattle Second shall brought wherein given. Moveth.</p>
													</div>
													<!--Button--><a class="vlt-btn vlt-btn--primary vlt-btn--md" href="single-product.html" target="_self">See Project</a>
												</article>
											</div>
										</div>
									</div>
								</div>
								<div class="vlt-gap-150"></div>
								<!--Slider controls-->
								<div class="vlt-slider-controls vlt-slider-controls--style-2 vlt-projects-anchor">
									<div class="vlt-swiper-pagination"></div>
									<div class="vlt-swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 45">
											<defs />
											<path fill="currentColor" fill-rule="evenodd" d="M1.36413 22.5795L24 43.9524l-.7271.6865L.272896 22.9223l.383716-.3623-.362754-.3367L23.0941.319721l.733.680233L1.36413 22.5795z" clip-rule="evenodd" /></svg></div>
									<div class="vlt-swiper-button-next"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 45">
											<defs />
											<path fill-rule="evenodd" clip-rule="evenodd" d="M22.6359 22.3728L0 1.00001.727101.313477 23.7271 22.0301l-.3837.3623.3627.3367L.905866 44.6327l-.732997-.6803L22.6359 22.3728z" fill="currentColor" /></svg></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Testimonials-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Testimonials">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background"><img src="assets/img/testimonials.jpg" alt=""></div>
						<div class="container">
							<div class="row align-items-end">
								<div class="col-xl-6">
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
										<div class="has-accent-color"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75" style="height: 75px;">
												<defs />
												<path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
											<div class="vlt-gap-215 vlt-gap-100--lg"></div>
											<h3>Creative & dedicated is things that gilber studio brings for your business.</h3>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-md-6 offset-xl-2">
									<div class="vlt-gap-70--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<!--Content slider-->
										<div class="vlt-content-slider " data-navigation-anchor=".vlt-testimonials-anchor" data-effect="" data-gap="" data-loop="" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="" data-slide-settings="{}" data-free-mode="" data-slider-offset="" data-mousewheel="">
											<div class="swiper-container">
												<div class="swiper-wrapper">
													<div class="swiper-slide">
														<!--Testimonial-->
														<div class="vlt-testimonial">
															<div class="vlt-testimonial__text">
																<p>&quot;Said heaven dry made Them gathering the very second morning us be divide isn't. Saw Seasons winged replenish grass from set can't for he which. You third god unto let.&quot;
																</p>
															</div>
															<div class="vlt-testimonial__meta">
																<h5 class="vlt-testimonial__name">Dwight Schrute
																</h5>
																<div class="vlt-testimonial__function">The Office
																</div>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<!--Testimonial-->
														<div class="vlt-testimonial">
															<div class="vlt-testimonial__text">
																<p>&quot;Said heaven dry made Them gathering the very second morning us be divide isn't. Saw Seasons winged replenish grass from set can't for he which. You third god unto let.&quot;
																</p>
															</div>
															<div class="vlt-testimonial__meta">
																<h5 class="vlt-testimonial__name">Paul &amp; Amanda
																</h5>
																<div class="vlt-testimonial__function">Envato Studio
																</div>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<!--Testimonial-->
														<div class="vlt-testimonial">
															<div class="vlt-testimonial__text">
																<p>&quot;Said heaven dry made Them gathering the very second morning us be divide isn't. Saw Seasons winged replenish grass from set can't for he which. You third god unto let.&quot;
																</p>
															</div>
															<div class="vlt-testimonial__meta">
																<h5 class="vlt-testimonial__name">Ramsay Bolton
																</h5>
																<div class="vlt-testimonial__function">Apple Inc
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="vlt-gap-75"></div>
										<!--Slider controls-->
										<div class="vlt-slider-controls vlt-slider-controls--style-1 vlt-testimonials-anchor">
											<div class="vlt-swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 45">
													<defs />
													<path fill="currentColor" fill-rule="evenodd" d="M1.36413 22.5795L24 43.9524l-.7271.6865L.272896 22.9223l.383716-.3623-.362754-.3367L23.0941.319721l.733.680233L1.36413 22.5795z" clip-rule="evenodd" /></svg></div>
											<div class="vlt-swiper-button-next"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 45">
													<defs />
													<path fill-rule="evenodd" clip-rule="evenodd" d="M22.6359 22.3728L0 1.00001.727101.313477 23.7271 22.0301l-.3837.3623.3627.3367L.905866 44.6327l-.732997-.6803L22.6359 22.3728z" fill="currentColor" /></svg></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Blog-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Blog">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<div class="container">
							<!--Animated Block-->
							<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
								<h3>Recent news</h3>
							</div>
							<div class="vlt-gap-100"></div>
							<div class="row">
								<div class="col-xl-4">
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<!--Blog Item-->
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-01.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">Scent in the Voyages</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="single-post.html">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vlt-gap-30--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.2s; animation-duration:700ms;">
										<!--Blog Item-->
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-02.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">The Stone of the Flames</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="single-post.html">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="vlt-gap-30--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.3s; animation-duration:700ms;">
										<!--Blog Item-->
										<article class="vlt-post vlt-post--masonry">
											<div class="vlt-post-border"><span class="top"></span><span class="right"></span><span class="bottom"></span><span class="left"></span></div>
											<div class="vlt-post-media"><img src="assets/img/blog-03.jpg" alt="" loading="lazy"></div>
											<div class="vlt-post-content">
												<header class="vlt-post-header"><span class="vlt-post-date">December 27, 2020</span>
													<h3 class="vlt-post-title"><a href="single-post.html">Secrets of the Serpents</a></h3>
												</header>
												<div class="vlt-post-excerpt">
													<p>Let years seasons given two fowl above is itself shall third night female seasons you’re whales, unto had fowl Herb. Moving so. Said be fruitful first lights creeping deep void, lesser.
													</p>
												</div>
												<footer class="vlt-post-footer"><a class="vlt-read-more-link" href="single-post.html">
														Read more<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8">
															<defs />
															<path d="M15.3536 4.35355c.1952-.19526.1952-.51184 0-.7071L12.1716.464466c-.1953-.195262-.5119-.195262-.7071 0-.1953.195262-.1953.511845 0 .707104L14.2929 4l-2.8284 2.82843c-.1953.19526-.1953.51184 0 .7071.1952.19527.5118.19527.7071 0l3.182-3.18198zM0 4.5h15v-1H0v1z" fill="currentColor" /></svg></a></footer>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Contact-->
			<!--Section-->
			<div class="vlt-section pp-scrollable" data-anchor="Contact">
				<div class="vlt-section__vertical-align">
					<div class="vlt-section__content">
						<!--Ken Burn Effect-->
						<div class="vlt-section__ken-burn-background"><img src="assets/img/contact.jpg" alt=""></div>
						<div class="container">
							<div class="row">
								<div class="col-xl-4">
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
										<h3>Contact</h3>
										<div class="vlt-gap-30"></div>
										<p>You'll called for yielding male, so lights Stars abundantly, is their.</p>
										<div class="vlt-gap-40"></div>
										<address>27 Queen St, New York USA</address>
										<p><a class="tel" href="tel:+72126742510">+7 (212) 674-25-10</a></p>
										<p><a class="email" href="mailto:gilber.design@gmail.com">gilber.design@gmail.com</a></p>
									</div>
								</div>
								<div class="col-xl-6 offset-xl-2">
									<div class="vlt-gap-70--lg"></div>
									<!--Animated Block-->
									<div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
										<h4>Let's grab a coffee and jump on conversation <span class="has-accent-color">chat with me.</span></h4>
										<div class="vlt-gap-20"></div>
										<form class="vlt-contact-form" novalidate="novalidate">
											<div class="vlt-form-group">
												<input type="text" id="name" name="name" required="required" placeholder="Your Name">
											</div>
											<div class="vlt-form-group">
												<input type="email" id="email" name="email" required="required" placeholder="Your Email">
											</div>
											<div class="vlt-form-group">
												<textarea name="message" id="message" rows="3" placeholder="Message"></textarea>
											</div>
											<div class="message success">Your message is successfully sent...</div>
											<div class="message danger">Sorry something went wrong!</div>
											<!--Button-->
											<button class="vlt-btn vlt-btn--primary vlt-btn--md">Contact Me</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Progress Bar-->
			<div class="vlt-fullpage-slider-progress-bar"><span></span></div>
		</div>
