<h1 mat-dialog-title>Add Grade</h1>

<form #loginForm="ngForm" class="" (ngSubmit)="create()">
    <div mat-dialog-content>
        <p>
            <mat-form-field appearance="legacy">
            <mat-label>Value</mat-label>
            <input matInput name="value" [(ngModel)]="model.value" placeholder="Value">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
              <mat-label>Subject Chef</mat-label>
              <mat-select name="moduleId" [(ngModel)]="model.studentID"> 
                <mat-option *ngFor="let student of students" [value]="student.id">
                  {{student.firstName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="fill">
              <mat-label>Subject</mat-label>
              <mat-select name="subjectID" [(ngModel)]="model.subjectID"> 
                <mat-option *ngFor="let subject of subjects" [value]="subject.id">
                  {{subject.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
    </div>
    <div mat-dialog-actions>
    <button mat-dialog-close mat-button type="submit">Save</button>
    <button mat-dialog-close mat-button type="button">Close</button>
    </div>
</form>
