<h1 mat-dialog-title>Add Training Module</h1>

<form #loginForm="ngForm" class="" (ngSubmit)="create()">
    <div mat-dialog-content>
        <p>
            <mat-form-field appearance="legacy">
            <mat-label>Title</mat-label>
            <input matInput name="title" [(ngModel)]="model.title" placeholder="Title">
            </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Training</mat-label>
            <mat-select name="trainingId" [(ngModel)]="model.trainingId"> 
              <mat-option *ngFor="let training of trainings" [value]="training.id">
                {{training.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Module</mat-label>
              <mat-select name="moduleId" [(ngModel)]="model.moduleId"> 
                <mat-option *ngFor="let module of modules" [value]="module.id">
                  {{module.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
    </div>
    <div mat-dialog-actions>
    <button mat-dialog-close mat-button type="submit">Save</button>
    <button mat-dialog-close mat-button type="button">Close</button>
    </div>
</form>
