<section>
  <div class="vlt-product-hero-title jarallax"><img class="jarallax-img" src="assets/img/single-product-01.jpg" alt="" loading="lazy">
    <div class="container">
      <!--Animated Block-->
      <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
        <h1 class="vlt-large-heading text-center">Master BioInformatique  et Sciences  de  données<span class="has-accent-color">.</span></h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <p>Le Master BioInformatique  et Sciences  de  données vient répondre  aux  besoins,  de  la  recherche  dans  ces  domaines  en  assurant  la  formation  de compétences  hautement  qualifiées  dans  le  domaine  de  la  Bioinformatique,  l’informatique décisionnelle, Big data, Sciences de données, les bases de données avancées, l’optimisation et l‘analyse  des  systèmes  complexes  notamment  les  systèmes  biologiques.  Ce  master  vise  à préparer  des  étudiants  qualifiés  pour  une  meilleure  initiation  à  la  recherche  et  au développement dans le domaine de la recherche appliquée.</p>
        </div>
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <h3>Descriptif de l’Enseignement de la Filière Master Bioinformatique et Sciences de Données: MBISD</h3>
          <h4>Coordonnateur : Hassan Badir</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="vlt-gap-140"></div>
</section>

<section>
  <div class="container">
    <!--Simple image-->
    <div class="vlt-simple-image">
      <div class="vlt-simple-image__mask" data-aos="image-mask-animation" data-aos-delay="0">
        <div class="inside"></div>
      </div><img src="assets/img/Programme_Filieres/MBSID.png" alt="" loading="lazy" />
      </div>
  </div>
</section>
