<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>
              Management Industriel
              </h3>
          </div>
          Objectifs:<br>

    Comprendre les concepts fondamentaux du management industriel<br>
    Maitriser les outils modernes de la conduite d’un projet industriel<br>
    Assimiler l’organisation d’un système de production<br>
    Découvrir l’entreprise, et comprendre ses divers mécanismes managériaux<br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Responsable Pédagogique</h4>
          <p>Pr Lotfi CHRAÏBI<br>
            Tél : 0660780065 / 0662151256 / 0539393744<br>
            E-mail : lchraibi@uae.ac.ma</p>
        </div>
      </div>
    </div>
  </div>
</section>
