<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>Maintenance des Systèmes Mécatroniques</h3>
          </div>
          Présentation:La maintenance est aujourd’hui un facteur important du fonctionnement et du développement des entreprises. La formation en DCA « Maintenance des systèmes Mécatroniques » répond à la demande des professionnels qui souhaitent embaucher des salariés dont le degré de qualification se situe entre le niveau de technicien et celui d’ingénieur.<br>

          Objectif:Former des futurs cadres techniques, responsables de services, capables de:<br>
          
              Intervenir techniquement sur des installations automatisés et Robotisés<br>
          
              Manager les équipes de maintenance<br>
          
              Piloter les actions de maintenance<br>
          
              Assurer la sûreté de fonctionnement des installations au moindre coût.<br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Responsable Pédagogique</h4>
          <p>Pr. CHAHBOUN Asaad<br>
            Tel: 06 67 99 85 39<br>
            Email: chahboun_asaad@yahoo.fr</p>
        </div>
      </div>
    </div>
  </div>
</section>
