

<!-- toc -->
<aside class="col-lg-3">
  <div class="sticky sticky-with-header" style="">
    <button class="overlay-menu-open"></button>
    <div class="overlay-menu boxed bg-dark text-white mb-3 mb-lg-0">
      <ul id="page-nav" class="nav flex-column nav-vertical">
        <li class="nav-item active">
          <a class="nav-link" href="/">Dashboard </a>
          <a class="nav-link" href="/marks">Grades </a>
          <a class="nav-link" href="/calendar">Calendar </a>
          <a class="nav-link" href="/courses">Courses </a>
          <a class="nav-link" href="/requests">Requests </a>
          <a class="nav-link" href="/absence">Attendance </a>  
        </li>
      </ul>
    </div>
  </div>
</aside>