<section>
  <div class="vlt-gap-140"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
            <h3>Système d’information et Marketing digital</h3>
              <p>Les préinscriptions au DCESS-SIMD sont maintenant ouvertes, veuillez vous rendre sur le site Web de la formation via le lien suivant: http://innovtec.org/</p>
          </div>
          <h4>Objectifs de la formation</h4>
          <p>1-1/ Objectif  général :<br>

            L’objectif du DCESS Système d’Information et Marketing Digital est de former des spécialistes dans l’accompagnement de la transformation digitale des entreprises sur tous les aspects technologiques, organisationnels, humains, juridiques, etc. Le caractère professionnel de la formation a pour vocation d’enrichir et de développer les compétences techniques et comportementales des étudiants en leur apportant des bases pratiques, qui vont enrichir leurs éventuelles expériences professionnelles. Nous visons à développer chez les étudiants des compétences de pointe complémentaires aux celles de BAC+III, afin de leur donner plus de chances d’intégrer facilement et efficacement le milieu professionnel au niveau national et international.<br>
            
            Généralement, cette formation permettra aux bénéficières de:<br>
            
            • Développer de solides connaissances stratégiques et opérationnelles dans le marketing digital, la communication, la publicité, la vente et les études marketing ;<br>
            
            • Maîtriser la transformation digital des domaines traditionnels (e-marketing, e-commerce, e-CRM, e-Communication, e-Publicité) ainsi que les nouvelles compétences indispensables dans ce domaine : la mobilité, l’analyse, le Big Data, l’innovation, …) ;<br>
            
            • Appréhender les nouvelles opportunités offertes par le web, les médias sociaux et plus globalement le monde omnicanal (mobile/tablette, webtTV et TV 2.0, affichage urbain, nouvelle génération…) ;<br>
            
            • Développer et pérenniser un projet de création d’entreprise dans le digital.<br>
            
            1-2/ Objectifs spécifiques :<br>
            
            Cette formation vise à pourvoir les participants de compétences dans le domaine du marketing digital et de l’informatique, et à les aider à se hisser vers des responsabilités dans les directions Marketing et du management des organisations.<br>
            
            Le programme est conçu de manière à permettre une compréhension rapide des comportements et des technologies digitales en permettant à l’étudiant d’acquérir des compétences approfondies en Système d’Information, en Marketing Digital, en Entrepreneuriat et en développement des applications marketing web et mobile.
            <br>
            Ci-après une liste non exhaustive des objectifs spécifiques de la formation :<br>
            
                Concevoir et développer un système d’information marketing pour son entreprise ;<br>
                Installer et Configurer l’ERP-ODOO ;<br>
                Réaliser une étude de marché efficace ;<br>
                Analyser des données statistiques en profitant, à bon escient, du logiciel SPSS et du langage R ;<br>
                Comprendre les enjeux stratégiques du Big Data pour le Marketing ;<br>
                Concevoir une solution Big Data et BI appliquée au Marketing ;<br>
                Concevoir et mettre en place un site e-commerce ;<br>
                Concevoir et déployer une stratégie e-CRM ;<br>
                Maitriser les techniques du WebMarketing ; <br>
                Comprendre les enjeux stratégiques du développement du marketing sur mobiles ;<br>
                Concevoir et réaliser une application mobile ;<br>
                Concevoir un plan marketing digital cohérent avec sa stratégie d’entreprise ;<br>
                Cerner les enjeux de la mobilité et du Responsive Web Design ;<br>
                Créer un e-mail optimisé pour les supports mobiles ;<br>
                Concevoir et réaliser un site web d’entreprise dynamique intégrant une stratégie web marketing  et respectant les principes du web design (UX et UI) ;
                Maîtriser les aspects techniques de la réalisation d’une vidéo pour le Web ;<br>
                Gérer des campagnes de communication digitale (Display, SEO, SEM, SMO, Affiliation, e-Mailing,..) ;<br>
                Utiliser /Produire les différentes techniques d’insertion professionnelle ;<br>
                Créer une startup ;</p>
          <h4>Débouchés</h4>
          <p>    Responsable de la stratégie digitale<br>
            Chef de projet digital<br>
            Directeur marketing digital<br>
            Chargé de communication digitale<br>
            Chef de projet CRM / E-CRM<br>
            Chef de projet Web mobile<br>
            Data analyst<br>
            Responsable marketing<br>
            Webmarketeur<br>
            Développeur des applications Marketing web et mobile<br>
            Consultant en e-Marketing et en e-CRM<br>
            Chargé d’acquisition client online<br>
            Chef de projet e-commerce<br>
            Chef de projet référencement<br>
            Consultant Web Analytics<br>
            Chef de publicité web<br>
            Rédacteur web<br></p>
          <h4>Conditions d’admission </h4>
          <p>    Avoir un diplôme de BAC+3<br>
            Etude du dossier d’inscription<br>
            Entretien devant une commission pédagogique</p><br>
          <h4>Programme de la formation</h4><br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 1 : Systèmes d'Information et Base de données</p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Système d'information et méthode MERISE </h5>
              <h5>  Elément 2 : Base de données SQL et NoSQL</h5>
              <h5>  Elément 3 : ERP - ODOO </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 2 : Marketing digital: Fondamentaux et stratégies de mise en œuvre</p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Les fondamentaux du Marketing</h5>
              <h5>  Elément 2 : Marketing digital et Certification</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 3 : Etude de marché et analyse de données marketing</p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Statistiques descriptives et inferentielles </h5>
              <h5>  Elément 2 : Techniques d’étude de marché</h5>
              <h5>   Elément 3 : Analyse de données marketing </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Soft skills 1</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Techniques de Communication Professionnelle en français</h5>
              <h5>  Elément 2 : Anglais professionnel</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 5 : E-commerce et E-CRM </p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : E-commerce et Solutions CMS</h5>
              <h5> Elément 2 : E-CRM </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 6 : Big Data et Business Intelligence</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Technologies de Big Data </h5>
              <h5> Elément 2 : Technologies de Business Intelligence</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 7 : Soft skills 2</p>
            <div class="vlt-pullquote__meta">
              <h5>  Elément 1 : Droit numérique </h5>
              <h5>   Elément 2 : Droit du travail </h5>
              <h5>  Elément 3 : Conduite de projets </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 8 : Techniques du Web Marketing</p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Web analytics et Techniques d’inbound marketing </h5>
              <h5> Elément 2 : Référencement SEO/SEA </h5>
              <h5> Elément 3 : Optimisation des Médias Sociaux SMO</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text"> Module 9 : Technologies du Web Marketing </p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Web design: UX et UI</h5>
              <h5>  Elément 2 : Graphisme et montage vidéo</h5>
              <h5>   Elément 3 : PHP/MySQL</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text"> Module 10 : Programmation Orientée objet et Technologies du Marketing mobile</p>
            <div class="vlt-pullquote__meta">
              <h5> Elément 1 : Programmation Java et C# </h5>
              <h5>  Elément 2 : Technologies du Marketing mobile </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text">Module 11 : Entrepreneuriat et projet Collectif tutoré </p>
            <div class="vlt-pullquote__meta">
              <h5>Elément 1 : Entrepreneuriat et startup</h5>
              <h5> Elément 2 : Séminaire: Laravel ; VueJS; Sécurité des applications web</h5>
              <h5> Elément 3 : Projet collectif tutoré: Création d’une startup</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:0s; animation-duration:700ms;">
          <div class="vlt-pullquote"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 75 75">
              <defs />
              <path fill="currentColor" d="M25 0C16.9271 0 10.7422 2.14844 6.44531 6.44531 2.14844 10.7422 0 16.9271 0 25v50h31.25V25H12.5c0-4.4271.9766-7.6172 2.9297-9.5703C17.3828 13.4766 20.5729 12.5 25 12.5V0zm43.75 0c-8.0729 0-14.2578 2.14844-18.5547 6.44531C45.8984 10.7422 43.75 16.9271 43.75 25v50H75V25H56.25c0-4.4271.9766-7.6172 2.9297-9.5703C61.1328 13.4766 64.3229 12.5 68.75 12.5V0z" /></svg>
            <p class="vlt-pullquote__text"> Module 12 : Stage et Projet de fin d'Etudes </p>
          
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="vlt-gap-60"></div>
        <!--Animated Block-->
        <div class="vlt-animated-block" data-animation-name="fadeInUpSm" style="animation-delay:.1s; animation-duration:700ms;">
          <h4>Modalités d’inscription</h4>
          <p>Inscription<br>

            Inscrivez-vous sur le lien suivant: <br>
        
        https://docs.google.com/forms/d/e/1FAIpQLSficHSqFnlnQ393ScFzi9I0ZbIrXAtsGU9JRngT6d4DhDEzfw/viewform<br>
        
            Réussir l’entretien oral</p><br>
            <h3>Calendrier</h3><br>
          <p>
            début des préinscriptions :  15/07/2020 <br>
            1ère session des entretiens  :  24/10/2020 <br>
            2ème session des entretiens :  31/10/2020 <br>
            Inscription définitive et début des cours : 1ère semaine de novembre 2020 <br>                 
          </p>
          <h3>Pièces à fournir</h3><br>
          <h5>Pour le dossier de préinscription en ligne</h5>
          <p>
            Demande manuscrite adressée au directeur de l’ENSAT<br>
            Lettre de motivation<br>
            Copie scannée de la CIN<br>
            CV<br>
            Copie scannée du diplôme de BAC+3 <br>
          </p>
          <h5>Pour le dossier d’inscription définitive </h5>
          <p>
            Les pièces seront communiquées avec la liste des admis définitivement. 
          </p><br>
          <h5>Processus de sélection des candidats </h5>
          <p>
            Le processus de sélection des candidats se déroule en deux temps :<br>

    Etude du dossier d’admission : l’admission repose sur l’étude du dossier du candidat.<br>
    Entretien oral : Après examen du dossier d’admission, le candidat sera convoqué pour passer un entretien oral.<br>
          </p>
          <h2>Frais d’inscription </h2>
          <p>42.000 Dhs en quatre tranches</p><br>
          <h2>Responsable Pédagogique</h2>
          <p>    Prof. Mohamed GHAILANI, Enseignant chercheur à l’ENSA de Tanger<br>

            Email : mghailani@uae.ac.ma<br>
        
            Télé : 06 62 86 87 39</p>
        </div>
      </div>
    </div>
  </div>
</section>
