<!--Header-->
<header class="vlt-header vlt-header--default">
  <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky">
    <div class="vlt-navbar-background"></div>
    <div class="vlt-navbar-inner">
      <div class="vlt-navbar-inner--left">
        <!--Logo--><a class="vlt-navbar-logo" href="index.html"><img src="assets/img/root/logo.svg" alt="Gilber"></a>
      </div>
      <div class="vlt-navbar-inner--center">
        <div class="container">
          <nav class="vlt-default-menu__navigation">
            <!--Navigation-->
            <ul class="sf-menu">
              <li data-menuanchor="Home"><a href="#Home">Home</a>
              </li>
              <li data-menuanchor="About"><a href="#About">Formations</a>
              </li>
              <li data-menuanchor="Projects"><a href="#Projects">Projects</a>
              </li>
              <li data-menuanchor="Education"><a href="#Education">Education</a>
              </li>
              <li data-menuanchor="Testimonials"><a href="#Testimonials">Testimonials</a>
              </li>
              <li data-menuanchor="Partners"><a href="#Partners">Partners</a>
              </li>
              <li data-menuanchor="Blog"><a href="#Blog">Blog</a>
              </li>
              <li data-menuanchor="Contact"><a href="#Contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="vlt-navbar-inner--right">
        <div class="d-flex align-items-center">
          <!--Contacts-->
          <div class="vlt-navbar-contacts"><a href="tel:+72126742510">+7 (212) 674-25-10</a></div>
          <!--Menu Burger--><a class="vlt-menu-burger js-offcanvas-menu-open" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round">
              <line x1="3" y1="12" x2="21" y2="12" />
              <line x1="3" y1="6" x2="21" y2="6" />
              <line x1="3" y1="18" x2="21" y2="18" /></svg></a>
        </div>
      </div>
    </div>
  </div>
</header>