<!--Header-->
<header class="vlt-header vlt-header--default">
  <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky">
    <div class="vlt-navbar-background"></div>
    <div class="vlt-navbar-inner">
      <div class="vlt-navbar-inner--left">
        <!--Logo--><a class="vlt-navbar-logo" href="index.html"><img src="assets/img/root/logo.svg" alt="Gilber"></a>
      </div>
      <div class="vlt-navbar-inner--center">
        <div class="container">
          <nav class="vlt-default-menu__navigation">
            <!--Navigation-->
            <ul class="sf-menu">
              <li data-menuanchor="Home"><a href="#Home">Home</a>
              </li>
              <li><a href="/About">About</a>
              </li>
              <li data-menuanchor="About"><a  id="formations" href="#About">Formations</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  More items  </a>
                 <ul class="dropdown-menu">
                   <div class="row">
                      <div class="col-4">
                      <h2>Formation Initiale</h2>
                        <a href="/">Année Préparatoire</a>
                        <li>Cycle Ingénieur</li>
                          <a href="/CycleIngénieur/GINF">GINF</a>
                          <a href="/CycleIngénieur/GSTR">GSTR</a>
                          <a href="/CycleIngénieur/GSEA">GSEA</a>
                          <a href="/CycleIngénieur/GIND">GIND</a>
                          <a href="/CycleIngénieur/G3EI">G3EI</a>
                        <a href="/">Cycle Master</a>
                          <a href="/CycleMaster/MBISD">MBISD</a>
                          <a href="/CycleMaster/MSCEE">MSCEE</a>
                          <a href="/CycleMaster/MPSI">MPSI</a>
                          <a href="/CycleMaster/MCSC">MCSC</a>
                     </div>
                     <div class="col-4">
                      <h2>Formation Continue</h2>
                      <a href="/">DCA</a>
                        <a href="/DCA/GenieInfo"> Génie informatique</a>
                        <a href="/DCA/TechIndusSimu"> Technologies Industrielles & Simulation</a>
                        <a href="/DCA/MaintenanceSysMecatroniques"> Maintenance des Systèmes Mécatroniques</a>
                        <a href="/DCA/Logistique"> Logistique</a>
                        <a href="/DCA/GenieSysIndux"> Génie des Systèmes Industriels</a>
                        <a href="/DCA/ManagementIndus"> Management Industriel</a>
                        <a href="/DCA/ManagementQHSE"> Management de la qualité, Hygiène, Sécurité et environnement</a>
                        <a href="/DCA/TechConceptionWebMobile"> Technologie de conception et de développement web et mobile</a>
                      <a href="/">DCEES</a>
                        <a href="/DCEES/ITI">Ingénierie & technologies Industrielles</a>
                        <a href="/DCEES/ISMP">Ingénieries des systèmes et management de projets</a>
                        <a href="/DCEES/IISD">Ingénierie informatique, sécurité et décision</a>
                        <a href="/DCEES/MSIL">Management des systèmes industriels & logistique</a>
                        <a href="/DCEES/SIMD">Système D'information et Marketing Digital</a>
                     </div>
                     <div class="col-4">
                      <h2>Départements</h2>
                      <a href="/Departements/SIC">SIC</a>
                      <a href="/Departements/GEI">GEI</a>
                      <a href="/Departements/MI">MI</a>
                     </div>
                   </div>
                   
                  
                  
                  <!-- <li><div class="formations container">
                    <div class="row inner-formations">
                      <div class="col-4">
                        <h2>Formation Initiale</h2>
                        
                
                      </div>
                      <div class="col-4">
                        
                      </div>
                      <div class="col-4">
                        
                      </div>
                    </div>
                    
                  </div></li> -->
                 </ul>
             </li>
              <li data-menuanchor="Education"><a href="#Education">Recherche</a>
              </li>
              <li data-menuanchor="Testimonials"><a href="#Testimonials">Partenariat</a>
              </li>
              <li data-menuanchor="Partners"><a href="#Partners">Contact</a>
              </li>
              <li data-menuanchor="Blog"><a href="/auth/login">Login</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="vlt-navbar-inner--right">
        <div class="d-flex align-items-center">
          <!--Contacts-->
          <div class="vlt-navbar-contacts"><a href="tel:+72126742510">+7 (212) 674-25-10</a></div>
          <!--Menu Burger--><a class="vlt-menu-burger js-offcanvas-menu-open" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round">
              <line x1="3" y1="12" x2="21" y2="12" />
              <line x1="3" y1="6" x2="21" y2="6" />
              <line x1="3" y1="18" x2="21" y2="18" /></svg></a>
        </div>
      </div>
    </div>
  </div>
  <!-- -->
</header>

<!--Offcanvas Menu-->
	<div class="vlt-offcanvas-menu">
		<div class="vlt-offcanvas-menu__header">
			<!--Locales-->
			<div class="vlt-language-switcher"><a class="is-active" href="#">Eng</a><a href="#">Fra</a><a href="#">Ger</a></div>
			<!--Menu Burger--><a class="vlt-menu-burger vlt-menu-burger--opened js-offcanvas-menu-close" href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
					<defs />
					<path d="M18 6L6 18M6 6l12 12" /></svg></a>
		</div>
		<nav class="vlt-offcanvas-menu__navigation">
			<!--Navigation-->
			<ul class="sf-menu">
				<li data-menuanchor="Home"><a href="#Home">sqs</a>
				</li>
				<li data-menuanchor="About"><a href="#About">About</a>
				</li>
				<li data-menuanchor="Projects"><a href="#Projects">Projects</a>
				</li>
				<li data-menuanchor="Education"><a href="#Education">Education</a>
				</li>
				<li data-menuanchor="Testimonials"><a href="#Testimonials">Testimonials</a>
				</li>
				<li data-menuanchor="Partners"><a href="#Partners">Partners</a>
				</li>
				<li data-menuanchor="Blog"><a href="#Blog">Blog</a>
				</li>
				<li data-menuanchor="Contact"><a href="#Contact">Contact</a>
				</li>
			</ul>
		</nav>
		<div class="vlt-offcanvas-menu__footer">
			<!--Socials-->
			<div class="vlt-offcanvas-menu__socials"><a class="vlt-social-icon vlt-social-icon--style-1" href="#"><i class="lnir-facebook-filled"></i></a><a class="vlt-social-icon vlt-social-icon--style-1" href="#"><i class="lnir-twitter-original"></i></a><a class="vlt-social-icon vlt-social-icon--style-1" href="#"><i class="lnir-instagram"></i></a></div>
			<!--Copyright-->
			<div class="vlt-offcanvas-menu__copyright">
				<p>© 2020 Copyright.<br>All rights reserved.</p>
			</div>
		</div>
	</div>
	<!--Site Overlay-->
	<div class="vlt-site-overlay"></div>
	<!--Main-->
