<!--Header-->
<header class="vlt-header vlt-header--default">
  <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky">
    <div class="vlt-navbar-background"></div>
    <div class="vlt-navbar-inner">
      <div class="vlt-navbar-inner--left">
        <!--Logo--><a class="vlt-navbar-logo" href="index.html"><img src="assets/img/root/logo.svg" alt="Gilber"></a>
      </div>
      <div class="vlt-navbar-inner--center">
        <div class="container">
          <nav class="vlt-default-menu__navigation">
            <!--Navigation-->
            <ul class="sf-menu">
              <li><a routerLink="/">Home</a>
              </li>
              <li><a routerLink="/About">About</a>
              </li>
              <li class="nav-item">
                <button mat-button [matMenuTriggerFor]="formations">FORMATIONS</button>
              <mat-menu #formations="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="initiale">Formation Initiale</button>
                <button mat-menu-item [matMenuTriggerFor]="continue">Formation Continue</button>
                <button mat-menu-item [matMenuTriggerFor]="departements">Départements</button>
              </mat-menu>
              <mat-menu #initiale="matMenu">
                <button mat-menu-item>Année Préparatoire</button>
                <button mat-menu-item [matMenuTriggerFor]="CI">Cycle Ingénieur</button>
                <button mat-menu-item [matMenuTriggerFor]="CM">Cycle Master</button>
              </mat-menu>
              <mat-menu #CI="matMenu">
                <a mat-menu-item routerLink="/CycleIngénieur/GINF">GINF</a>
                <a mat-menu-item routerLink="/CycleIngénieur/GSTR">GSTR</a>
                <a mat-menu-item routerLink="/CycleIngénieur/GSEA">GSEA</a>
                <a mat-menu-item routerLink="/CycleIngénieur/GIND">GIND</a>
                <a mat-menu-item routerLink="/CycleIngénieur/G3EI">G3EI</a>
              </mat-menu>
              <mat-menu #CM="matMenu">
                <a mat-menu-item routerLink="/CycleMaster/MBISD">MBISD</a>
                <a mat-menu-item routerLink="/CycleMaster/MSCEE">MSCEE</a>
                <a mat-menu-item routerLink="/CycleMaster/MPSI">MPSI</a>
                <a mat-menu-item routerLink="/CycleMaster/MCSC">MCSC</a>
              </mat-menu>
              <mat-menu #continue="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="DCA">DCA</button>
                <button mat-menu-item [matMenuTriggerFor]="DCEES">DCEES</button>
              </mat-menu>
              <mat-menu #DCA="matMenu">
                <a mat-menu-item routerLink="/DCA/GenieInfo"> Génie informatique</a>
                <a mat-menu-item routerLink="/DCA/TechIndusSimu"> Technologies Industrielles & Simulation</a>
                <a mat-menu-item routerLink="/DCA/MaintenanceSysMecatroniques"> Maintenance des Systèmes Mécatroniques</a>
                <a mat-menu-item routerLink="/DCA/Logistique"> Logistique</a>
                <a mat-menu-item routerLink="/DCA/GenieSysIndux"> Génie des Systèmes Industriels</a>
                <a mat-menu-item routerLink="/DCA/ManagementIndus"> Management Industriel</a>
                <a mat-menu-item routerLink="/DCA/ManagementQHSE"> Management de la qualité, Hygiène, Sécurité et environnement</a>
                <a mat-menu-item routerLink="/DCA/TechConceptionWebMobile"> Technologie de conception et de développement web et mobile</a>
              </mat-menu>
              <mat-menu #DCEES="matMenu">
                <a mat-menu-item routerLink="/DCEES/ITI">Ingénierie & technologies Industrielles</a>
                <a mat-menu-item routerLink="/DCEES/ISMP">Ingénieries des systèmes et management de projets</a>
                <a mat-menu-item routerLink="/DCEES/IISD">Ingénierie informatique, sécurité et décision</a>
                <a mat-menu-item routerLink="/DCEES/MSIL">Management des systèmes industriels & logistique</a>
                <a mat-menu-item routerLink="/DCEES/SIMD">Système D'information et Marketing Digital</a>
              </mat-menu>
              <mat-menu #departements="matMenu">
                <a mat-menu-item routerLink="/Departements/SIC">SIC</a>
                <a mat-menu-item routerLink="/Departements/GEI">GEI</a>
                <a mat-menu-item routerLink="/Departements/MI">MI</a>
              </mat-menu>
              <mat-menu></mat-menu>
              </li>
              <li data-menuanchor="Education"><a href="#Education">Recherche</a>
              </li>
              <li data-menuanchor="Testimonials"><a href="#Testimonials">Partenariat</a>
              </li>
              <li data-menuanchor="Partners"><a href="#Partners">Contact</a>
              </li>
              <li data-menuanchor="Blog"><a routerLink="/auth/login">Login</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="vlt-navbar-inner--right">
        <div class="d-flex align-items-center">
          <!--Contacts-->
          <div class="vlt-navbar-contacts"><a href="tel:+72126742510">+7 (212) 674-25-10</a></div>
          <!--Menu Burger--><a class="vlt-menu-burger js-offcanvas-menu-open" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round">
              <line x1="3" y1="12" x2="21" y2="12" />
              <line x1="3" y1="6" x2="21" y2="6" />
              <line x1="3" y1="18" x2="21" y2="18" /></svg></a>
        </div>
      </div>
    </div>
  </div>
  <!-- -->
</header>

<!--Offcanvas Menu-->
	<div class="vlt-offcanvas-menu">
		<div class="vlt-offcanvas-menu__header">
			<!--Locales-->
			<div class="vlt-language-switcher"><a class="is-active" href="#">Eng</a><a href="#">Fra</a><a href="#">Ger</a></div>
			<!--Menu Burger--><a class="vlt-menu-burger vlt-menu-burger--opened js-offcanvas-menu-close" href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
					<defs />
					<path d="M18 6L6 18M6 6l12 12" /></svg></a>
		</div>
		<nav class="vlt-offcanvas-menu__navigation">
			<!--Navigation-->
			<ul class="sf-menu">
				<li data-menuanchor="Home"><a href="#Home">sqs</a>
				</li>
				<li data-menuanchor="About"><a href="#About">About</a>
				</li>
				<li data-menuanchor="Projects"><a href="#Projects">Projects</a>
				</li>
				<li data-menuanchor="Education"><a href="#Education">Education</a>
				</li>
				<li data-menuanchor="Testimonials"><a href="#Testimonials">Testimonials</a>
				</li>
				<li data-menuanchor="Partners"><a href="#Partners">Partners</a>
				</li>
				<li data-menuanchor="Blog"><a href="#Blog">Blog</a>
				</li>
				<li data-menuanchor="Contact"><a href="#Contact">Contact</a>
				</li>
			</ul>
		</nav>
		<div class="vlt-offcanvas-menu__footer">
			<!--Socials-->
			<div class="vlt-offcanvas-menu__socials"><a class="vlt-social-icon vlt-social-icon--style-1" href="#"><i class="lnir-facebook-filled"></i></a><a class="vlt-social-icon vlt-social-icon--style-1" href="#"><i class="lnir-twitter-original"></i></a><a class="vlt-social-icon vlt-social-icon--style-1" href="#"><i class="lnir-instagram"></i></a></div>
			<!--Copyright-->
			<div class="vlt-offcanvas-menu__copyright">
				<p>© 2020 Copyright.<br>All rights reserved.</p>
			</div>
		</div>
	</div>
	<!--Site Overlay-->
	<div class="vlt-site-overlay"></div>
	<!--Main-->
