<mat-toolbar>
  <button mat-button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>School</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/users" >Users</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/events" >Events</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/faculties" >Faculties</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/grades" >Grades</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/groups" >Groups</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/modules" >Modules</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/privileges" >Privileges</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/subjects" >Subjects</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/trainingModules" >Training Modules</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
